.section1 {
    /* background: url("../public/contact-us/sec1.png"); */
    height: 525px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.sec1Card1 {
    position: absolute;
    width: auto;
    height: 120px;
    left: 75px;
    top: 180px;
    background: rgba(15, 8, 8, 0.74);
    border-radius: 10px;
    color: white;
    padding: 14px;
}

.sec1Card1 h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 45px;
    margin: 0;
}

.sec1Card1 span {
    color: #23D34A;
}

.sec1Card1 p {
    margin-top: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 37px;
}

.sec1Card2 {
    position: absolute;
    width: 25vw;
    height: 340px;
    left: 68vw;
    top: 85px;
    background: #1D2731;
    border-radius: 12px;
    color: white;
    font-weight: 550;
    font-size: 13px;
    line-height: 16px;
    text-decoration: underline;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    list-style-type: none;
    text-underline-offset: 2px;
    padding-left: 3vw;
}

.sec1Card2 li {
    display: flex;
    align-items: center;
}

.sec1Card2 a {
    margin-left: 1.4vw;
}

.sec1Card2 a:hover {
    color: mediumaquamarine;
}

.section2 {
    height: 570px;
    background-color: #242121;
    position: relative;
}

.sec2Card1 {
    position: absolute;
    width: 570px;
    height: 680px;
    left: 90px;
    top: -125px;
    background: #1D2731;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 45px 4vw;
}

.sec2Card1Line1 {
    font-weight: 200;
    font-size: 14px;
    line-height: 30px;
}

@media (max-width:680px) {
    .section1 {
        display: flex;
        flex-direction: row;
        height: 600px;
    }

    .sec1Card1 {
        width: 100%;
        top: 90px;
        left: 0;
        border-radius: 0;
    }

    .sec1Card2 {
        align-items: center;
        left: 0;
        top: 220px;
        position: absolute;
        width: 100%;
        border-radius: 0;
    }

    .sec2Card1 {
        left: 0;
        width: 100%;
        top: 0;
    }

    .section2 {
        height: 680px;
    }
}

@media(max-width:980px) and (min-width:680px) {
    .sec1Card2 {
        top: 40px;
        width: 35vw;
    }
}